In [1]:
import pickle
import pandas as pd

In [2]:
df = pd.read_csv("data/test.csv")

In [3]:
# encoding cut
with open('data/encodingcut.pkl', 'rb') as cut:
    encoding_cut = pickle.load(cut)
    
# encoding color
with open('data/encodingcolor.pkl', 'rb') as color:
    encoding_color = pickle.load(color)
    
# encoding clarity
with open('data/encodingclarity.pkl', 'rb') as clarity:
    encoding_clarity = pickle.load(clarity)

In [4]:
# estandarizaci√≥n
with open('data/estandarizacion.pkl', 'rb') as estandarizacion:
    estandarizacion = pickle.load(estandarizacion)

In [5]:
with open('data/gradient_modelo3.pkl', 'rb') as modelo:
    modelo = pickle.load(modelo)

In [6]:
df.sample(4)

        id  carat        cut color clarity  depth  table     x     y     z
4296  4296   0.72  Very Good     I     VS2   61.1   56.0  5.76  5.79  3.53
2094  2094   0.51      Ideal     F    VVS2   61.8   56.0  5.13  5.16  3.18
8428  8428   0.70  Very Good     E     SI2   59.8   58.0  5.74  5.76  3.44
8314  8314   0.51      Ideal     G    VVS2   62.7   55.0  5.08  5.10  3.19

In [7]:
estandarizadas = pd.DataFrame(estandarizacion.transform(df[['carat', 'depth', 'table', 'x', 'y',
       'z']]), columns = ['carat', 'depth', 'table', 'x', 'y',
       'z'])
estandarizadas.head()

      carat     depth     table         x         y         z
0 -1.003451 -0.867480  0.245377 -1.154576 -1.076301 -1.177719
1  0.929593  0.802923  1.140416  0.951660  0.872114  1.016394
2  1.812070  0.176522  0.692896  1.618191  1.616841  1.635246
3 -0.099963 -0.797880 -0.649661  0.187372  0.144706  0.074050
4  1.475888  2.125326 -1.097180  1.360465  1.227158  1.593051

In [8]:
cut = pd.DataFrame(encoding_cut.transform(df[["cut"]]), columns= ["cut"])
color = pd.DataFrame(encoding_color.transform(df[["color"]]), columns= ["color"])
clarity = pd.DataFrame(encoding_clarity.transform(df[["clarity"]]), columns= ["clarity"])

In [9]:
df_final = pd.concat([estandarizadas, cut, color, clarity], axis = 1)

In [10]:
from sklearn.preprocessing import StandardScaler
import numpy as np

In [11]:
precios_estandarizados=modelo.predict(df_final)

C:\Users\egcmo\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [12]:
precios_estandarizados

array([1.01268402, 2.21778259, 1.78881559, ..., 0.99399654, 1.88634922,
       1.85317309])

In [13]:
#inverse_scalar
import pickle

with open('data/inverse_estandarizacion.pkl', 'rb') as f:
    inverse_estandarizacion = pickle.load(f)

In [14]:
precio_final=inverse_estandarizacion.inverse_transform([precios_estandarizados])

In [15]:
precio_final=precio_final.tolist()[0]

In [16]:
precio_final = pd.DataFrame({'price': precio_final})

In [17]:
precio_final.head()

       price
0   8.813535
1  10.038898
2   9.602718
3   9.436211
4   9.402012

In [18]:
df_precios_finales = pd.concat([df["id"], precio_final], axis=1)

In [19]:
df_precios_finales.tail()

          id      price
13480  13480  10.076154
13481  13481   9.616174
13482  13482   8.794533
13483  13483   9.701892
13484  13484   9.668158

In [21]:
df_precios_finales.to_csv("data/submission_gradient3.csv", index=False)