In [1]:
import pickle
import pandas as pd

In [2]:
df = pd.read_csv("data/test.csv")

In [3]:
# encoding cut
with open('data/encodingcut.pkl', 'rb') as cut:
    encoding_cut = pickle.load(cut)
    
# encoding color
with open('data/encodingcolor.pkl', 'rb') as color:
    encoding_color = pickle.load(color)
    
# encoding clarity
with open('data/encodingclarity.pkl', 'rb') as clarity:
    encoding_clarity = pickle.load(clarity)

In [4]:
# estandarización
with open('data/estandarizacion.pkl', 'rb') as estandarizacion:
    estandarizacion = pickle.load(estandarizacion)

In [5]:
with open('data/2_segundo_modelo.pkl', 'rb') as modelo:
    modelo = pickle.load(modelo)

In [6]:
df.sample(4)

          id  carat        cut color clarity  depth  table     x     y     z
396      396   1.06      Ideal     G     VS1   61.5   57.0  6.54  6.56  4.03
3413    3413   1.16  Very Good     F     SI1   63.4   55.0  6.73  6.65  4.24
3167    3167   1.21    Premium     E     VS1   60.8   59.0  6.86  6.82  4.16
12582  12582   0.43      Ideal     G      IF   61.8   55.0  4.85  4.89  3.01

In [7]:
estandarizadas = pd.DataFrame(estandarizacion.transform(df[['carat', 'depth', 'table', 'x', 'y',
       'z']]), columns = ['carat', 'depth', 'table', 'x', 'y',
       'z'])
estandarizadas.head()

      carat     depth     table         x         y         z
0 -1.003451 -0.867480  0.245377 -1.154576 -1.076301 -1.177719
1  0.929593  0.802923  1.140416  0.951660  0.872114  1.016394
2  1.812070  0.176522  0.692896  1.618191  1.616841  1.635246
3 -0.099963 -0.797880 -0.649661  0.187372  0.144706  0.074050
4  1.475888  2.125326 -1.097180  1.360465  1.227158  1.593051

In [8]:
cut = pd.DataFrame(encoding_cut.transform(df[["cut"]]), columns= ["cut"])
color = pd.DataFrame(encoding_color.transform(df[["color"]]), columns= ["color"])
clarity = pd.DataFrame(encoding_clarity.transform(df[["clarity"]]), columns= ["clarity"])

In [9]:
df_final = pd.concat([estandarizadas, cut, color, clarity], axis = 1)

In [10]:
from sklearn.preprocessing import StandardScaler
import numpy as np

In [11]:
precios_estandarizados=modelo.predict(df_final)

C:\Users\egcmo\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [12]:
precios_estandarizados

array([0.67548906, 1.71074058, 1.59216452, ..., 0.67916721, 1.49202838,
       1.39900267])

In [13]:
#inverse_scalar
import pickle

with open('data/inverse_estandarizacion.pkl', 'rb') as f:
    inverse_estandarizacion = pickle.load(f)

In [14]:
precio_final=inverse_estandarizacion.inverse_transform([precios_estandarizados])

In [15]:
precio_final=precio_final.tolist()[0]

In [21]:
precio_final

         price
0      8.47067
1      9.52333
2      9.40276
3      9.13406
4      9.17130
...        ...
13480  9.53092
13481  9.22846
13482  8.47441
13483  9.30094
13484  9.20635

[13485 rows x 1 columns]

In [16]:
precio_final = pd.DataFrame({'price': precio_final})

In [17]:
precio_final.head()

     price
0  8.47067
1  9.52333
2  9.40276
3  9.13406
4  9.17130

In [18]:
df_precios_finales = pd.concat([df["id"], precio_final], axis=1)

In [19]:
df_precios_finales.tail()

          id    price
13480  13480  9.53092
13481  13481  9.22846
13482  13482  8.47441
13483  13483  9.30094
13484  13484  9.20635

In [20]:
df_precios_finales.to_csv("data/submission4.csv", index=False)